@import url("https://fonts.googleapis.com/css?family=Expletus+Sans&display=swap");

body {
  margin: 0;
  background-color: #131313;
  color: white;
  font-family: "Expletus Sans", sans-serif;
  margin: auto;
}

canvas {
  width: 100%;
  height: 100%;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
}

input[type="file"] {
  visibility: hidden;
}

#videobox {
  position: relative;
}

img {
  background: green;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

header {
  padding-left: 20px;
  font-size: 40px;
  line-height: 65px;
  height: 60px;
  background-color: #252525;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.box {
  background-color: #252525;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

#mainbox {
  display: flex;
  justify-content: center;
  width: calc(100% - 20px);
  margin: 10px;
}

#videobox,
#mapbox {
  margin: 10px;
  width: 50%;
  height: calc(100% - 230px);
}

#statbox {
  position: relative;
  height: 100px;
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
}

.button {
  position: absolute;
  top: 25px;
  font-size: 50px;
  display: inline-block;
}

.button:hover,
.headerbutton:hover {
  cursor: pointer;
}

.headerbutton {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 42px;
  display: inline-block;
}

#backward {
  left: 20px;
}

#play {
  left: 70px;
}

#forward {
  left: 170px;
}

#reset {
  right: 20px;
}

input:focus {
  outline: none;
}

input[type="text"] {
  position: absolute;
  top: 25px;
  left: 200px;
  color: white;
  font-size: 30px;
  background-color: #131313;
  border: none;
  width: 200px;
  height: 50px;
  text-align: center;
  display: inline-block;
  margin-left: 20px;
}

.statlabel {
  color: #888888;
}

#distancingbox {
  left: 450px;
}

#distancebox {
  left: 700px;
}

#infectedbox {
  left: auto;
  right: 100px;
}

.numberbox {
  display: inline-block;
  margin-left: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.statlabel {
  font-size: 20px;
  margin-top: 15px;
}

.stat {
  font-size: 40px;
}
